.ec2-table-container {
  /* margin: 20px; */
  font-family: Arial, sans-serif;
}

.ec2-table {
  width: 100%;
  border-collapse: collapse;
}

.ec2-table thead {
  background-color: #003366;
  color: white;
}

.ec2-table th,
.ec2-table td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

.ec2-table th input {
  width: 100%;
  padding: 4px;
  border: none;
  outline: none;
  background-color: #003366;
  color: white;
}

.ec2-table tbody tr:hover {
  background-color: #f2f2f2;
}
